In [1]:
import pandas as pd

In [2]:
FILEPATH = 'food.csv'

In [3]:
df = pd.read_csv(FILEPATH)

In [4]:
df

   Food_ID   Food_Name   Category  Price  Calories Available
0        1       Pizza  Fast Food   8.99       300       Yes
1        2      Burger  Fast Food   5.49       450       Yes
2        3       Pasta    Italian   7.99       400        No
3        4       Sushi   Japanese  12.99       250       Yes
4        5       Tacos    Mexican   6.99       200        No
5        6       Salad    Healthy   4.99       150       Yes
6        7  Fried Rice      Asian   5.99       350       Yes
7        8   Ice Cream    Dessert   3.99       200       Yes
8        9       Steak      Grill  14.99       700        No
9       10        Soup    Healthy   3.49       100       Yes

In [14]:
df_sorted = df.sort_values(by = 'Price', ascending = False, inplace = True)

In [15]:
df_sorted

In [16]:
df

   Food_ID   Food_Name   Category  Price  Calories Available
8        9       Steak      Grill  14.99       700        No
3        4       Sushi   Japanese  12.99       250       Yes
0        1       Pizza  Fast Food   8.99       300       Yes
2        3       Pasta    Italian   7.99       400        No
4        5       Tacos    Mexican   6.99       200        No
6        7  Fried Rice      Asian   5.99       350       Yes
1        2      Burger  Fast Food   5.49       450       Yes
5        6       Salad    Healthy   4.99       150       Yes
7        8   Ice Cream    Dessert   3.99       200       Yes
9       10        Soup    Healthy   3.49       100       Yes