In [1]:
import pandas as pd

In [3]:
food = pd.read_csv('food.csv')

In [4]:
food_sales = pd.read_csv('food_sales.csv')

In [5]:
ratings = pd.read_csv('ratings.csv')

In [11]:
df =pd.concat([food, food_sales, ratings], ignore_index=True)

In [12]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating
0,1.0,Pizza,Fast Food,8.99,300.0,Yes,NaN,NaN
1,2.0,Burger,Fast Food,5.49,450.0,Yes,NaN,NaN
2,3.0,Pasta,Italian,7.99,400.0,No,NaN,NaN
3,4.0,Sushi,Japanese,12.99,250.0,Yes,NaN,NaN
4,5.0,Tacos,Mexican,6.99,200.0,No,NaN,NaN
5,6.0,Salad,Healthy,4.99,150.0,Yes,NaN,NaN
6,7.0,Fried Rice,Asian,5.99,350.0,Yes,NaN,NaN
7,8.0,Ice Cream,Dessert,3.99,200.0,Yes,NaN,NaN
8,9.0,Steak,Grill,14.99,700.0,No,NaN,NaN
9,10.0,Soup,Healthy,3.49,100.0,Yes,NaN,NaN
10,NaN,Pizza,NaN,NaN,NaN,NaN,120.0,NaN
11,NaN,Burger,NaN,NaN,NaN,NaN,200.0,NaN
12,NaN,Pasta,NaN,NaN,NaN,NaN,150.0,NaN
13,NaN,Sushi,NaN,NaN,NaN,NaN,50.0,NaN
14,NaN,Tacos,NaN,NaN,NaN,NaN,180.0,NaN
15,NaN,Salad,NaN,NaN,NaN,NaN,300.0,NaN
16,NaN,Fried Rice,NaN,NaN,NaN,NaN,100.0,NaN
17,NaN,Ice Cream,NaN,NaN,NaN,NaN,400.0,NaN
18,NaN,Steak,NaN,NaN,NaN,NaN,80.0,NaN
19,NaN,Soup,NaN,NaN,NaN,NaN,250.0,NaN
20,NaN,Pizza,NaN,NaN,NaN,NaN,NaN,4.5
21,NaN,Burger,NaN,NaN,NaN,NaN,NaN,4.0
22,NaN,Pasta,NaN,NaN,NaN,NaN,NaN,3.8
23,NaN,Sushi,NaN,NaN,NaN,NaN,NaN,4.7
24,NaN,Tacos,NaN,NaN,NaN,NaN,NaN,4.2
25,NaN,Salad,NaN,NaN,NaN,NaN,NaN,4.6
26,NaN,Fried Rice,NaN,NaN,NaN,NaN,NaN,3.9
27,NaN,Ice Cream,NaN,NaN,NaN,NaN,NaN,4.8
28,NaN,Steak,NaN,NaN,NaN,NaN,NaN,4.4
29,NaN,Soup,NaN,NaN,NaN,NaN,NaN,4.3

In [16]:
merged_df = pd.merge(food, food_sales, on='Food_Name', how='outer')

In [17]:
merged_df = pd.merge(merged_df, ratings, on='Food_Name', how='outer')

In [18]:
merged_df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8
3,3,Pasta,Italian,7.99,400,No,150,3.8
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5
5,6,Salad,Healthy,4.99,150,Yes,300,4.6
6,10,Soup,Healthy,3.49,100,Yes,250,4.3
7,9,Steak,Grill,14.99,700,No,80,4.4
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7
9,5,Tacos,Mexican,6.99,200,No,180,4.2

In [19]:
#Find the average rating for items in the Healthy category.

In [45]:
average_df = merged_df[merged_df['Category'] == 'Healthy']['Rating'].mean()

In [46]:
average_df

4.449999999999999

In [ ]:
#Merge the dataset with a sales data file and calculate total revenue for each Category.

In [50]:
merged_df['Total_Revenue'] = merged_df['Price']* merged_df['Units_Sold']

In [51]:
Total_Revenue

0    1098.0
1     599.0
2    1596.0
3    1198.5
4    1078.8
5    1497.0
6     872.5
7    1199.2
8     649.5
9    1258.2
dtype: float64

In [52]:
merged_df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Total_Revenue
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,1098.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,599.0
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,1596.0
3,3,Pasta,Italian,7.99,400,No,150,3.8,1198.5
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,1078.8
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,1497.0
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,872.5
7,9,Steak,Grill,14.99,700,No,80,4.4,1199.2
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,649.5
9,5,Tacos,Mexican,6.99,200,No,180,4.2,1258.2

In [53]:
#Find food items with a rating below 4.0 and display their details.

In [72]:
merged_df_rating = merged_df.loc[merged_df['Rating']< 4][['Food_Name','Rating']]

In [73]:
merged_df_rating

    Food_Name  Rating
1  Fried Rice     3.9
3       Pasta     3.8

In [74]:
#Add a new column that combines Category and Rating into a single string.

In [79]:
merged_df['Rating_category'] = merged_df['Category'] + '-' + merged_df['Rating'].astype(str)

In [80]:
merged_df['Rating_category']

0    Fast Food-4.0
1        Asian-3.9
2      Dessert-4.8
3      Italian-3.8
4    Fast Food-4.5
5      Healthy-4.6
6      Healthy-4.3
7        Grill-4.4
8     Japanese-4.7
9      Mexican-4.2
Name: Rating_category, dtype: object

In [81]:
merged_df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Total_Revenue,new_colum,Rating_category
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,1098.0,Fast Food-4.0,Fast Food-4.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,599.0,Asian-3.9,Asian-3.9
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,1596.0,Dessert-4.8,Dessert-4.8
3,3,Pasta,Italian,7.99,400,No,150,3.8,1198.5,Italian-3.8,Italian-3.8
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,1078.8,Fast Food-4.5,Fast Food-4.5
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,1497.0,Healthy-4.6,Healthy-4.6
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,872.5,Healthy-4.3,Healthy-4.3
7,9,Steak,Grill,14.99,700,No,80,4.4,1199.2,Grill-4.4,Grill-4.4
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,649.5,Japanese-4.7,Japanese-4.7
9,5,Tacos,Mexican,6.99,200,No,180,4.2,1258.2,Mexican-4.2,Mexican-4.2