In [1]:
#Calculate the total revenue for all items marked as Available = "Yes".

In [2]:
import pandas as pd

In [3]:
food = pd.read_csv('food.csv')

In [4]:
food_sales = pd.read_csv('food_sales.csv')

In [5]:
ratings = pd.read_csv('ratings.csv')

In [6]:
df = pd.merge(food, food_sales, on='Food_Name', how='outer')

In [7]:
df = pd.merge(df, ratings, on='Food_Name', how='outer')

In [8]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8
3,3,Pasta,Italian,7.99,400,No,150,3.8
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5
5,6,Salad,Healthy,4.99,150,Yes,300,4.6
6,10,Soup,Healthy,3.49,100,Yes,250,4.3
7,9,Steak,Grill,14.99,700,No,80,4.4
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7
9,5,Tacos,Mexican,6.99,200,No,180,4.2

In [9]:
df['Total_Revenue']= df['Price']*df['Units_Sold']

In [10]:
df['Total_Revenue']

0    1098.0
1     599.0
2    1596.0
3    1198.5
4    1078.8
5    1497.0
6     872.5
7    1199.2
8     649.5
9    1258.2
Name: Total_Revenue, dtype: float64

In [11]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Total_Revenue
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,1098.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,599.0
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,1596.0
3,3,Pasta,Italian,7.99,400,No,150,3.8,1198.5
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,1078.8
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,1497.0
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,872.5
7,9,Steak,Grill,14.99,700,No,80,4.4,1199.2
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,649.5
9,5,Tacos,Mexican,6.99,200,No,180,4.2,1258.2

In [21]:
df_total = df[df['Available'] == 'Yes']

In [22]:
df_total

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Total_Revenue
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,1098.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,599.0
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,1596.0
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,1078.8
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,1497.0
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,872.5
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,649.5