In [1]:
#Calculate the median price of all food items.

In [2]:
import pandas as pd

In [4]:
food = pd.read_csv('food.csv')

In [5]:
food_sales = pd.read_csv('food_sales.csv')

In [9]:
df = pd.merge(food, food_sales, on = 'Food_Name')

In [10]:
df

   Food_ID   Food_Name   Category  Price  Calories Available  Units_Sold
0        1       Pizza  Fast Food   8.99       300       Yes         120
1        2      Burger  Fast Food   5.49       450       Yes         200
2        3       Pasta    Italian   7.99       400        No         150
3        4       Sushi   Japanese  12.99       250       Yes          50
4        5       Tacos    Mexican   6.99       200        No         180
5        6       Salad    Healthy   4.99       150       Yes         300
6        7  Fried Rice      Asian   5.99       350       Yes         100
7        8   Ice Cream    Dessert   3.99       200       Yes         400
8        9       Steak      Grill  14.99       700        No          80
9       10        Soup    Healthy   3.49       100       Yes         250

In [16]:
result = df.groupby(df['Category'])[['Price']].median()

In [17]:
result

           Price
Category
Asian       5.99
Dessert     3.99
Fast Food   7.24
Grill      14.99
Healthy     4.24
Italian     7.99
Japanese   12.99
Mexican     6.99