In [1]:
#Display the sum of Price for each Calorie_Level

In [2]:
import pandas as pd

In [3]:
FILEPATH = 'food.csv'

In [4]:
df = pd.read_csv(FILEPATH)

In [5]:
df

   Food_ID   Food_Name   Category  Price  Calories Available
0        1       Pizza  Fast Food   8.99       300       Yes
1        2      Burger  Fast Food   5.49       450       Yes
2        3       Pasta    Italian   7.99       400        No
3        4       Sushi   Japanese  12.99       250       Yes
4        5       Tacos    Mexican   6.99       200        No
5        6       Salad    Healthy   4.99       150       Yes
6        7  Fried Rice      Asian   5.99       350       Yes
7        8   Ice Cream    Dessert   3.99       200       Yes
8        9       Steak      Grill  14.99       700        No
9       10        Soup    Healthy   3.49       100       Yes

In [6]:
import numpy as np

In [18]:
df['Calorie_Level'] = np.where(df['Calories'] < 200, 'Low',
                      np.where(df['Calories'] <= 400, 'Medium', 'High'))

In [19]:
df['Calorie_Level']

0    Medium
1      High
2    Medium
3    Medium
4    Medium
5       Low
6    Medium
7    Medium
8      High
9       Low
Name: Calorie_Level, dtype: object

In [20]:
df

   Food_ID   Food_Name   Category  Price  Calories Available Calorie_Level
0        1       Pizza  Fast Food   8.99       300       Yes        Medium
1        2      Burger  Fast Food   5.49       450       Yes          High
2        3       Pasta    Italian   7.99       400        No        Medium
3        4       Sushi   Japanese  12.99       250       Yes        Medium
4        5       Tacos    Mexican   6.99       200        No        Medium
5        6       Salad    Healthy   4.99       150       Yes           Low
6        7  Fried Rice      Asian   5.99       350       Yes        Medium
7        8   Ice Cream    Dessert   3.99       200       Yes        Medium
8        9       Steak      Grill  14.99       700        No          High
9       10        Soup    Healthy   3.49       100       Yes           Low

In [21]:
result = df.groupby('Calorie_Level')[['Calories']].sum()

In [22]:
result

               Calories
Calorie_Level
High               1150
Low                 250
Medium             1700