In [1]:
#Calculate the profit margin for each food item, assuming a fixed cost of 70% of the Price.

In [2]:
import pandas as pd

In [4]:
food = pd.read_csv('food.csv')

In [5]:
food_sales = pd.read_csv('food_sales.csv')

In [7]:
ratings = pd.read_csv('ratings.csv')

In [8]:
df = pd.merge(food, food_sales, on='Food_Name', how='outer')

In [9]:
df = pd.merge(df, ratings, on='Food_Name', how='outer')

In [10]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8
3,3,Pasta,Italian,7.99,400,No,150,3.8
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5
5,6,Salad,Healthy,4.99,150,Yes,300,4.6
6,10,Soup,Healthy,3.49,100,Yes,250,4.3
7,9,Steak,Grill,14.99,700,No,80,4.4
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7
9,5,Tacos,Mexican,6.99,200,No,180,4.2

In [14]:
df['Cost'] = df['Price']* 0.70

In [15]:
df['Cost']

0     3.843
1     4.193
2     2.793
3     5.593
4     6.293
5     3.493
6     2.443
7    10.493
8     9.093
9     4.893
Name: Cost, dtype: float64

In [16]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Profit,Cost
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,3.843,3.843
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,4.193,4.193
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,2.793,2.793
3,3,Pasta,Italian,7.99,400,No,150,3.8,5.593,5.593
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,6.293,6.293
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,3.493,3.493
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,2.443,2.443
7,9,Steak,Grill,14.99,700,No,80,4.4,10.493,10.493
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,9.093,9.093
9,5,Tacos,Mexican,6.99,200,No,180,4.2,4.893,4.893

In [17]:
df['Profit_Margin'] = ((df['Price'] - df['Cost']) / df['Price']) * 100

In [18]:
df['Profit_Margin']

0    30.0
1    30.0
2    30.0
3    30.0
4    30.0
5    30.0
6    30.0
7    30.0
8    30.0
9    30.0
Name: Profit_Margin, dtype: float64

In [19]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Profit,Cost,Profit_Margin
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,3.843,3.843,30.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,4.193,4.193,30.0
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,2.793,2.793,30.0
3,3,Pasta,Italian,7.99,400,No,150,3.8,5.593,5.593,30.0
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,6.293,6.293,30.0
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,3.493,3.493,30.0
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,2.443,2.443,30.0
7,9,Steak,Grill,14.99,700,No,80,4.4,10.493,10.493,30.0
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,9.093,9.093,30.0
9,5,Tacos,Mexican,6.99,200,No,180,4.2,4.893,4.893,30.0

In [22]:
df.drop('Profit_Margin',axis = 1)

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Profit,Cost
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,3.843,3.843
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,4.193,4.193
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,2.793,2.793
3,3,Pasta,Italian,7.99,400,No,150,3.8,5.593,5.593
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,6.293,6.293
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,3.493,3.493
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,2.443,2.443
7,9,Steak,Grill,14.99,700,No,80,4.4,10.493,10.493
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,9.093,9.093
9,5,Tacos,Mexican,6.99,200,No,180,4.2,4.893,4.893

In [23]:
df.drop('Profit',axis = 1)

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Cost,Profit_Margin
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,3.843,30.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,4.193,30.0
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,2.793,30.0
3,3,Pasta,Italian,7.99,400,No,150,3.8,5.593,30.0
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,6.293,30.0
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,3.493,30.0
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,2.443,30.0
7,9,Steak,Grill,14.99,700,No,80,4.4,10.493,30.0
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,9.093,30.0
9,5,Tacos,Mexican,6.99,200,No,180,4.2,4.893,30.0

In [24]:
df.drop('Profit_Margin',axis = 1)

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Profit,Cost
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,3.843,3.843
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,4.193,4.193
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,2.793,2.793
3,3,Pasta,Italian,7.99,400,No,150,3.8,5.593,5.593
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,6.293,6.293
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,3.493,3.493
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,2.443,2.443
7,9,Steak,Grill,14.99,700,No,80,4.4,10.493,10.493
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,9.093,9.093
9,5,Tacos,Mexican,6.99,200,No,180,4.2,4.893,4.893

In [25]:
df.drop('Cost',axis = 1)

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Profit,Profit_Margin
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,3.843,30.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,4.193,30.0
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,2.793,30.0
3,3,Pasta,Italian,7.99,400,No,150,3.8,5.593,30.0
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,6.293,30.0
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,3.493,30.0
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,2.443,30.0
7,9,Steak,Grill,14.99,700,No,80,4.4,10.493,30.0
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,9.093,30.0
9,5,Tacos,Mexican,6.99,200,No,180,4.2,4.893,30.0

In [26]:
df

,Food_ID,Food_Name,Category,Price,Calories,Available,Units_Sold,Rating,Profit,Cost,Profit_Margin
0,2,Burger,Fast Food,5.49,450,Yes,200,4.0,3.843,3.843,30.0
1,7,Fried Rice,Asian,5.99,350,Yes,100,3.9,4.193,4.193,30.0
2,8,Ice Cream,Dessert,3.99,200,Yes,400,4.8,2.793,2.793,30.0
3,3,Pasta,Italian,7.99,400,No,150,3.8,5.593,5.593,30.0
4,1,Pizza,Fast Food,8.99,300,Yes,120,4.5,6.293,6.293,30.0
5,6,Salad,Healthy,4.99,150,Yes,300,4.6,3.493,3.493,30.0
6,10,Soup,Healthy,3.49,100,Yes,250,4.3,2.443,2.443,30.0
7,9,Steak,Grill,14.99,700,No,80,4.4,10.493,10.493,30.0
8,4,Sushi,Japanese,12.99,250,Yes,50,4.7,9.093,9.093,30.0
9,5,Tacos,Mexican,6.99,200,No,180,4.2,4.893,4.893,30.0